<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block body %}
            {% block nav %}
                <a href= " {{ path('salaries_index')}}">Salaries</a>
                <a href= "{{ path('entreprises_index')}}">Entreprises</a>
            {% endblock %}
            {% block contenu %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
